<!doctype html5>
html(lang="en")
    head
        title=`${statusCode} Error`
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        style.
            .flex-respond-row {display: flex !important;flex-direction: column !important;}@media (min-width: 992px) {.flex-respond-row {display: flex !important;flex-direction: row !important;}}.card-shadow {box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);}.cursor-pointer{ cursor: pointer !important; }
    body
        .header.p-3.bg-dark.card-shadow.d-flex.flex-row.justify-content-between
            .d-flex.flex-row
                img(src=`/assets/img/nodejs.png?id=${hashId}`, alt='', height='50', width='50')
                h1.text-white=`${statusCode} Error:`
        .p-2
            .card.p-2
                p=`${error}`
        include ../utils/noscript.pug
